<!doctype html>
<html lang="en">
  <head>
    <title>@title</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    @{ctx.vite_assets(['assets/global.css', 'assets/main.ts'])}
  </head>
  <body>
    <main class="size-full">
      <div class="w-full min-h-dvh flex flex-col justify-center items-center space-y-4">
        <h1 class="font-black text-3xl">Page not found!</h1>
        <p class="font-medium text-2xl">
          Sorry, but the page you were trying to view does not exist.
        </p>
      </div>
    </main>
  </body>
</html>
